html {
    line-height: 1.2;
    font-size: 18px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

p {
    font-weight: 300;
}

.main-slider {
    height: 100vh;
    &__items {
        height: 100vh;
    }
    &__navbar {
        position: absolute;
        bottom: 100px;
        right: 160px;
        display: flex;
        gap: 25px;
        transition: .3s;
        &_hidden {
            opacity: 0;
            transform: translateY(50%);
        }
    }
    &__nav {
        
        width: 65px;
        height: 65px;
        background-color: #B4B4B4;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        & polyline {
            stroke: white !important;
        }
        &_prev {
        }
        &_next {
            
        }
    }
    &__nav-icon {
        fill: none;
        width: 20px;
        height: 20px;
        &_fullscreen {
            fill: white;
            width: 30px;
            height: 30px;
        }
        &_invert {
            transform: scaleX(-100%);
        }
    }
}

.slide__content {
    user-select: none;
    position: relative;
    z-index: 3;
}

.slide__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: -70%;
    right: -70%;
    z-index: 2;
    background: radial-gradient(#ffffff23, transparent);
}

.slide {
    color: white;
    padding: 6rem 10rem;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgb(50, 50, 50);
}

.slide1 {
    background: url('@img/bg1.webp') no-repeat 50% 50%;
    background-size: cover;
    &__footnote {
        margin-top: 50px;
        width: 500px;
    } 
}

.slide2 {
    background: url('@img/bg2.webp') no-repeat 50% 50%;
    background-size: cover;
    &__footnote {
        width: 770px;
    }
}

.slide3 {
    background: url('@img/bg33.webp') no-repeat 50% 50%;
    background-size: cover;
    & .paragraph__wrapper {
        margin-top: 10px;
    }
    & .hyperlink__list {
        margin-top: 30px;
    }
}

.slide4 {
    background: url('@img/bg3.webp') no-repeat 50% 50%;
    background-size: cover;
    &__footnote {
        margin-top: 50px;
        width: 315px;
    }
}

.slide5 {
    background: url('@img/bg4.webp') no-repeat 50% 50%;
    background-size: cover;
    & .table {
        margin-top: 100px;
        max-width: 1100px;
    }
}

.slide6 {
    background: url('@img/bg5.webp') no-repeat 50% 50%;
    background-size: cover;
    & .table {
        margin-top: 100px;
        max-width: 1100px;
    }
}

.slide7 {
    background: url('@img/bg6.webp') no-repeat 50% 50%;
    background-size: cover;
    &__footnote {
        margin-top: 50px;
        width: 800px;
    } 
}

.slide8 {
    background: url('@img/bg7.webp') no-repeat 50% 50%;
    background-size: cover;
}

.slide9 {
    background: url('@img/bg8.webp') no-repeat 50% 50%;
    background-size: cover;
}

.slide10 {
    background: url('@img/bg9.webp') no-repeat 50% 50%;
    background-size: cover;
    &__footnote {
        margin-top: 50px;
        width: 770px;
    }
}

.slide11 {
    background: url('@img/bg10.webp') no-repeat 50% 50%;
    background-size: cover;
    &__footnote {
        margin-top: 50px;
        width: 600px;
    }
}

.slide12 {
    background: url('@img/bg11.webp') no-repeat 50% 50%;
    background-size: cover;
    &__footnote {
        margin-top: 50px;
        width: 800px;
    } 
}

.slide13 {
    background: url('@img/bg12.webp') no-repeat 50% 50%;
    background-size: cover;
}

.slide14 {
    background: url('@img/bg10.webp') no-repeat 50% 50%;
    background-size: cover;
}

.slide15 {
    background: url('@img/bg14.webp') no-repeat 50% 50%;
    background-size: cover;
    &__footnote {
        margin-top: 50px;
        width: 800px;
    } 
}

.slide16 {
    background: url('@img/bg15.webp') no-repeat 50% 50%;
    background-size: cover;
}

.slide17 {
    background: url('@img/bg17.webp') no-repeat 50% 50%;
    background-size: cover;
    & .subtitle {
        font-size: 1.5rem;
    }
    & .paragraph__wrapper {
        margin-top: 10px;
    }
}

.slide18 {
    background: url('@img/bg18.webp') no-repeat 50% 50%;
    background-size: cover;
    & .subtitle {
        font-size: 1.5rem;
    }
    & .paragraph__wrapper {
        margin-top: 10px;
    }
}

.slide19 {
    color: black;
    & .title {
        color: black;
    }
    & .subtitle {
        font-size: 1.5rem;
    }
    & .paragraph__wrapper {
        margin-top: 10px;
    }
}

.slide21 {
    background: url('@img/bg21.webp') no-repeat 50% 50%;
    background-size: cover;
    & .subtitle {
        font-size: 1.5rem;
    }
    & .paragraph__wrapper {
        margin-top: 10px;
    }
    & .paragraph {
        background: none;
        padding: 0;
    }
}

.slide22 {
    background: url('@img/bg22.webp') no-repeat 50% 50%;
    background-size: cover;
    & .subtitle {
        font-size: 1.5rem;
    }
    & .paragraph__wrapper {
        margin-top: 10px;
    }
}

.slide_kontacts {
    background: url('@img/bg23.webp') no-repeat 50% 50%;
    background-size: cover;
    color: black;
    & .title {
        color: black;
    }
    & .paragraph__wrapper {
        margin-top: 50px;
    }
    & .paragraph {
        background: none;
    }
}

.title {
    font-size: 3.25rem;
    color: white;
}

.subtitle {
    font-size: 2.25rem;
}

.slide{
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        gap: 20px;
    }
    &__content-block {
        max-width: 100%;
    }
}

@include media($desktop) {
    html {
        font-size: 16px;
    }
    .container {
        max-width: #{$small-desktop + 'px'};
    }
}

@include media($small-desktop) {
    html {
        font-size: 12px;
    }
    .container {
        max-width: #{$laptop + 'px'};
    }
}