@keyframes pulse {
    from {
        opacity: 70%;
        transform: scale(1);
    }
    20% {
        opacity: 0;
        transform: scale(1.5);
    }
    to {
        opacity: 0;
        transform: scale(1.5);
    }
}